SERVER_DOMAIN=localhost
SERVER_PORT=8080

GOOGLE_OAUTH_CLIENT_ID=<GOOGLE_OAUTH_CLIENT_ID>
GOOGLE_OAUTH_CLIENT_SECRET=<GOOGLE_OAUTH_CLIENT_SECRET>
GOOGLE_OAUTH_REDIRECT_URL=<GOOGLE_OAUTH_REDIRECT_URL>
GOOGLE_OAUTH_SCOPES=https://www.googleapis.com/auth/userinfo.email
GOOGLE_OAUTH_URL_API=https://www.googleapis.com/oauth2/v2/userinfo?access_token=